<section class="our_ability"  >
    <div class="container-fluid"    >
       <div class="row">
        <div class="col-md-6 col-lg-5 text "    >
            <div class="our_ability_member_text">
                <h2>We use Advanced Encryption Standard(AES) Algorithm along with 256-bit secret keys
                </h2>
                <hr>
                <p>The safest and most reliable server for your immensely important data, the AWS(Amazon Web Server) uses the Advanced Encryption Standard(AES) Algorithm along with 256-bit secret keys.

                    The AWS KMS(Key Management Service) is a secure and resilient service that uses FIPS 140-2 validated hardware security modules to protect your keys.
                    
                    </p>
            </div>
 
    </div>   
        <div class="col-md-6 col-lg-6 imagg">
            <div class="our_ability_img">
                <img src="../../../../assets/medison/advance-encription-standard.png" alt="">
            </div>
        </div>
        
       </div>
    </div>
</section>