

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="services">
            
            <div class="cen">
                <div class="service">
                    
                    <h1>ALL PRESCRIPTIONS AT ONE PLACE</h1>
                    <!--<p class="clearfix"><span class="display-cell">
                        <i class="dash">-</i></span>
                        <span class="display-cell">Book appointments and lab tests</span>
                       </p>
                       <p class="clearfix"><span class="display-cell">
                           <i class="dash">-</i></span>
                           <span class="display-cell">Order medicines</span>
                          </p>
                          <p class="clearfix"><span class="display-cell">
                             <i class="dash">-</i></span>
                             <span class="display-cell">Consult doctors online</span>
                            </p>
                            <p class="clearfix"><span class="display-cell">
                               <i class="dash">-</i></span>
                               <span class="display-cell">Store health records</span>
                              </p>
                              <p class="clearfix"><span class="display-cell">
                                 <i class="dash">-</i></span>
                                 <span class="display-cell">Read health tips</span>
                                </p>-->
                                <div class="cushion-v">
                               
                                    <a href="https://play.google.com/store/apps/details?id=com.mentcom.mentp" class="login" title="Login"><img src="../../../assets/img/ezgif-1-0536b5d33a6b.png" /></a>
     
                                  </div>
                                  
   
                </div>
                <div class="service">
                    <img src="../../../assets/ezgif-1-a250ae300d97.png">
                        
                </div>
              
                                
            </div>

        </div>
    
</body>
</html>