<body >
  
  
<div id="heading" >
  <img src="../../../assets/whychooseus.png" alt="">
  <p >Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est,
    convallis nec purus vitae, iaculis posuere sapien.</p>
</div>
  
<div class="container-fluid">
  <mat-grid-list cols="3" rowHeight="300px" gutterSize="5px" >
    <mat-grid-tile  >
      <div class="container">
        <div class="row">
          <div class="col-sm-7" style="margin-top: 49px;">
            <h3 style="text-align: center">Reliable & Secure Data  </h3>
            <p style="text-align: center" >MentDoc makes use of Amazon's cloud based Web Server, which is 256 bit encrypted</p>
            
          </div>
          <div class="col-sm-5">
            <img id="chooimg" src="../../../assets/images/mentdoc/why-coose-us/secure-data-new.png" alt="">
          </div>
          
        </div>
        </div>
      </mat-grid-tile>

    <mat-grid-tile rowspan="3" >
      <div  id="image" >
        <img src="../../../assets/images/mentdoc/why-coose-us/Why-choose-us1.png" alt="">
      </div>
    </mat-grid-tile>

    <mat-grid-tile  >
        <div class="container">
            <div class="row">
              <div class="col-sm-7" style="margin-top: 49px;">
                <h3 style="text-align: center">Reliable & Secure Data  </h3>
                <p style="text-align: center" >MentDoc makes use of Amazon's cloud based Web Server, which is 256 bit encrypted</p>
                
              </div>
              <div class="col-sm-5">
                <img id="chooimg" src="../../../assets/images/mentdoc/why-coose-us/secure-data-new.png" alt="">
              </div>
              
            </div>
            </div>
    </mat-grid-tile>
    <mat-grid-tile  >
        <div class="container">
            <div class="row">
              <div class="col-sm-7" style="margin-top: 49px;">
                <h3 style="text-align: center">Reliable & Secure Data  </h3>
                <p style="text-align: center" >MentDoc makes use of Amazon's cloud based Web Server, which is 256 bit encrypted</p>
                
              </div>
              <div class="col-sm-5">
                <img id="chooimg" src="../../../assets/images/mentdoc/why-coose-us/secure-data-new.png" alt="">
              </div>
              
            </div>
            </div>
      
    </mat-grid-tile>
    
    <mat-grid-tile  >
        <div class="container">
            <div class="row">
              <div class="col-sm-7" style="margin-top: 49px;">
                <h3 style="text-align: center">Reliable & Secure Data  </h3>
                <p style="text-align: center" >MentDoc makes use of Amazon's cloud based Web Server, which is 256 bit encrypted</p>
                
              </div>
              <div class="col-sm-5">
                <img id="chooimg" src="../../../assets/images/mentdoc/why-coose-us/secure-data-new.png" alt="">
              </div>
              
            </div>
            </div>
    </mat-grid-tile>
    <mat-grid-tile  >
        <div class="container">
            <div class="row">
              <div class="col-sm-7" style="margin-top: 49px;">
                <h3 style="text-align: center">Reliable & Secure Data  </h3>
                <p style="text-align: center" >MentDoc makes use of Amazon's cloud based Web Server, which is 256 bit encrypted</p>
                
              </div>
              <div class="col-sm-5">
                <img id="chooimg" src="../../../assets/images/mentdoc/why-coose-us/secure-data-new.png" alt="">
              </div>
              
            </div>
            </div>
      </mat-grid-tile>
      <mat-grid-tile  >
          <div class="container">
              <div class="row">
                <div class="col-sm-7" style="margin-top: 49px;">
                  <h3 style="text-align: center">Reliable & Secure Data  </h3>
                  <p style="text-align: center" >MentDoc makes use of Amazon's cloud based Web Server, which is 256 bit encrypted</p>
                  
                </div>
                <div class="col-sm-5">
                  <img id="chooimg" src="../../../assets/images/mentdoc/why-coose-us/secure-data-new.png" alt="">
                </div>
                
              </div>
              </div>
    </mat-grid-tile>
  </mat-grid-list>
  
</div>
</body>


