

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

h1 {
  font-size: 16px;
}

/*----- Helper Classes -----*/

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*
::-webkit-scrollbar {
	display: none;
}
*/
h1, h2, h3, h4, h5, h6 {
  font-family: Open Sans;
}

p {
	font-family: Open Sans;
}


/* --------- App Features Sub ------- */


.software .feature-sub {
	/* background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.99)), url(../../../assets/images/images/app_bg1); */
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 150px 0 150px 0;
}

.software .feature-sub .sub-inner h1 {
	font-family: 'Josefin Sans';
	font-size: 34px;
	font-weight: 300;
	line-height: 1.1;
	color: #FFF;
	margin: 0 0 30px 0;
}


/*  --------------------------------------------------
------------- Reviews Section Styling ----------------
-----------------------------------------------------*/

.app-features {
	background: #FFFFFF;
	padding: 100px 0 100px 0;
}

.app-features h1 {
	font-size: 37px;
	font-weight: 900;
	margin: 0 0 10px 0;
}

.app-features p {
	font-size: 16px;
	font-weight: 400;
	color: #A1A1A1;
	line-height: 1.4;
	margin: 10px 0 50px 0;
}


.app-features img {
	 margin: 0 auto;
}

.app-features .features-left, .app-features .features-right {
	padding: 50px 0 0 0;
}

.app-features .icon {
	margin-top: 10px;
	margin-bottom: 20px;
}

.app-features .icon i {
	font-size: 72px;
	color: #1eb858;
}


.app-features .feature-single {
	margin-left: 0;
	margin-bottom: 50px;
}


.app-features .feature-single h1 {
	font-size: 15px;
	font-weight: 600;
	color: #222222;
	margin: 0 0 10px 0;
	letter-spacing: 1px;
	text-transform:uppercase;
}

.app-features .feature-single p {
	font-size: 18px;
	color: #A1A1A1;
	line-height: 1.4;
	margin: 10px 0 0 0;
}

