<body style="margin-left: 200px" >
  <div class="wrapper">
    <div class="container">

<div class="main app form" id="main">

<div class="app-features text-center" id="features">
  <div class="container"  >
    <h1 class="wow fadeInDown" data-wow-delay="0.1s">Why Choose US</h1>
    <p class="wow fadeInDown" data-wow-delay="0.2s"> Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est,<br class="hidden-xs">
      convallis nec purus vitae, iaculis posuere sapien. </p>
    <div class="col-md-4 features-left">
      <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
        <div class="icon"> <i class="ion-ios-briefcase-outline" aria-hidden="true"></i> </div>
        <div class="feature-single">
          <h1>Reliable & Secure Data</h1>
          <p> To ensure data security, MentDoc makes use of Amazon's cloud based Web Server, which is 256 bit encrypted. The data protection measures are compliant with HIPAA & DISHA standards. </p>
        </div>
      </div>
      <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
        <div class="icon"> <i class="ion-ios-briefcase-outline"></i> </div>
        <div class="feature-single">
          <h1>Simplified and Streamlined Operations</h1>
          <p> 
              MentDoc offers Seamless Practice Management to MHPs who can make use of MentDoc in order to access their patients' records across multiple establishments where they consult patients and operate out of, like clinics, hospitals, residences, etc.  
          </p>
        </div>
      </div>
      <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
        <div class="icon"> <i class="ion-ios-chatboxes-outline"></i> </div>
        <div class="feature-single">
          <h1>MentDoc is solely meant for MHPs</h1>
          <p> 
              MentDoc has been designed exclusively for the mental health domain. It is meant for Mental health professionals like psychiatrists, psychologists, psychoanalysts, psychotherapists & mental health counselors.  
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s"> <img class="img-responsive" src="../../../assets/images/images/iPhone-app.png" alt="App" /> </div>
    <div class="col-md-4 features-left">
      <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
        <div class="icon"> <i class="ion-ios-cloud-download-outline"></i> </div>
        <div class="feature-single">
          <h1>Digital Documents generated are as per the MHA,2017</h1>
          <p> 
              MentDoc generates documents such as reports, summaries & prescriptions in accordance with the regulations laid down by the Mental Healthcare Act, which was amended in 2017. This implies that patients struggling with mental illnesses can now access their medical records digitally.  
          </p>
        </div>
      </div>
      <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
        <div class="icon"> <i class="ion-ios-copy-outline"></i> </div>
        <div class="feature-single">
          <h1>One Stop, Comprehensive Solution</h1>
          <p> MentDoc is an all-inclusive data & practice management solution which caters to the needs of all registered mental health professionals. </p>
        </div>
      </div>
      <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
        <div class="icon"> <i class="ion-ios-game-controller-b-outline"></i> </div>
        <div class="feature-single">
          <h1>Scientific Diagnosis & Digital Prescription</h1>
          <p> 
              MentDoc has been designed to aid MHPs in accurately diagnosing the mental illness basis symptom(s) being exhibited by the patient(s), using ICD 10 classification of mental and behavioral disorders. MHPs can also prescribe medication digitally using MentDoc.  
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>
