<div class="app-features text-center" id="features">
        <div class="container">
                <h1 class="wow fadeInDown" data-wow-delay="0.1s">Features & Overviews</h1>
                <p class="wow fadeInDown" data-wow-delay="0.2s"> Aliquam sagittis ligula et sem lacinia, ut facilisis enim sollicitudin. Proin nisi est,<br class="hidden-xs">
                    convallis nec purus vitae, iaculis posuere sapien. </p>
                    <div class="col-md-4 features-left">
                            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
                                    <div class="icon"> <i class="ion-ios-analytics-outline"></i> </div>
                                    <div class="feature-single">
                                            <h1>Lorem Ipsum</h1>
                                            <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p>
                                          </div>
                            </div>
                            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
                                    <div class="icon"> <i class="ion-ios-briefcase-outline"></i> </div>
                                    <div class="feature-single">
                                      <h1>Lorem Ipsum</h1>
                                      <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p>
                                    </div>
                            </div>
                            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
                                    <div class="icon"> <i class="ion-ios-briefcase-outline"></i> </div>
                                    <div class="feature-single">
                                      <h1>Lorem Ipsum</h1>
                                      <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p>
                                    </div>
                            </div>                          
                    </div>
                    <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s"> <img class="img-responsive" src="../../../assets/images/sample-image.jpg" alt="App" /> </div>
                    <div class="col-md-4 features-left">
                            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
                              <div class="icon"> <i class="ion-ios-cloud-download-outline"></i> </div>
                              <div class="feature-single">
                                <h1>Lorem Ipsum</h1>
                                <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p>
                              </div>
                            </div>
                            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
                              <div class="icon"> <i class="ion-ios-copy-outline"></i> </div>
                              <div class="feature-single">
                                <h1>Lorem Ipsum</h1>
                                <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p>
                              </div>
                            </div>
                            <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
                              <div class="icon"> <i class="ion-ios-game-controller-b-outline"></i> </div>
                              <div class="feature-single">
                                <h1>Lorem Ipsum</h1>
                                <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p>
                              </div>
                            </div>
                          </div>
        </div>
</div>