<section id="counter">
        <div class="counter-overlay">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="counter-area">
                  <div class="row">
                    <!-- Start single counter -->
                    <div class="col-md-4 col-sm-6">
                      <div class="single-counter">
                        <div class="counter-icon">
                          <i class="fa fa-suitcase"></i>
                        </div>
                        <div class="counter-no counter">
                          1000 +
                        </div>
                        <div class="counter-label">
                          Doctors/Mental Health Professional
                        </div>
                      </div>
                    </div>
                    <!-- End single counter -->
                    <!-- Start single counter -->
                    <div class="col-md-4 col-sm-6">
                      <div class="single-counter">
                        <div class="counter-icon">
                          <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="counter-no counter">
                          20,000 +
                        </div>
                        <div class="counter-label">
                          Consultations Done
                        </div>
                      </div>
                    </div>
                    <!-- End single counter -->
                    <!-- Start single counter -->
                    <div class="col-md-4 col-sm-6">
                     <div class="single-counter">
                        <div class="counter-icon">
                          <i class="fa fa-trophy"></i>
                        </div>
                        <div class="counter-no counter">
                          10,000 +
                        </div>
                        <div class="counter-label">
                          Patients Benefitted
                        </div>
                      </div>
                    </div>
                    <!-- End single counter -->
                    <!-- Start single counter -->
                   
                    <!-- End single counter -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>