<section class="feature_part" >
    <div class="container-fluid" >
      <h1 id="heading">
        SECURE PLACE FOR YOUR MENTAL-HEALTH-RELATED-DATA
      </h1> 
      <div class="row">
        <div class="col-lg-6 col-sm-6">
            <div class="single_feature">
                <div class="single_feature_part" >
                    <span class="single_feature_icon"><img src="../../assets/images/medison/auction.svg" alt=""></span>
                    <h4>Indian Contract Act, 1872</h4><hr>
                    <p>Darkness multiply rule Which from without life creature blessed
                        give moveth moveth seas make day which divided our have.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="single_feature">
                <div class="single_feature_part" >
                    <span class="single_feature_icon"><img src="../../assets/images/medison/auction.svg" alt=""></span>
                    <h4>Indian Contract Act, 1872</h4><hr>
                    <p>Darkness multiply rule Which from without life creature blessed
                        give moveth moveth seas make day which divided our have.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="single_feature">
                <div class="single_feature_part" >
                    <span class="single_feature_icon"><img src="../../assets/images/medison/auction.svg" alt=""></span>
                    <h4>Indian Contract Act, 1872</h4><hr>
                    <p>Darkness multiply rule Which from without life creature blessed
                        give moveth moveth seas make day which divided our have.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="single_feature">
                <div class="single_feature_part" >
                    <span class="single_feature_icon"><img src="../../assets/images/medison/auction.svg" alt=""></span>
                    <h4>Indian Contract Act, 1872</h4><hr>
                    <p>Darkness multiply rule Which from without life creature blessed
                        give moveth moveth seas make day which divided our have.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
</section>