<section class="site-section border-bottom bg-light" id="services-section">
        <div class="container">
                <div class="row mb-5">
                        <div class="col-12 text-center" data-aos="fade">
                                <h2 class="section-title mb-3">Our Features</h2>
                        </div>
                </div>
                <div class="row align-items-stretch">
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                                <div class="unit-4">
                                        <div class="unit-4-icon">
                                                <img style="margin-left: 60px" src="../../../assets/featuresvgImage/ment web.png" alt="Free Website Template by Free-Template.co" >
                                        </div>
                                        <div style="margin-top: 10px" >
                                                <h2>A comprehensive web-based platform</h2>
                                                <p>Integrated medical web based application suite for mental health professionals like neurologists, psychiatrists, clinical psychologists, counselors and other allied mental health professionals.</p>
                                               
                                              </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                                <div class="unit-4">
                                        <div class="unit-4-icon">
                                                <img style="margin-left: 112px" src="../../../assets/featuresvgImage/EHR.png" alt="Free Website Template by Free-Template.co" >
                                        </div>
                                        <div style="margin-top: 10px">
                                                <h3>Electronic Health Record (EHR)</h3>
                                                <p>
                                                                Facilitates quick and secure access to the patient’s information for authorized mental health professionals.
                                                </p>
                                                <p><a href="#">Learn More</a></p>
                                              </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                                <div class="unit-4">
                                        <div class="unit-4-icon">
                                                <img style="margin-left: 100px" src="../../../assets/featuresvgImage/diganosis.png" alt="Free Website Template by Free-Template.co" >
                                        </div>
                                        <div style="margin-top: 10px">
                                                <h3>Scientific Diagnosis & Digital Prescription</h3>
                                                <p>
                                                        MentDoc has been designed to aid MHPs in accurately diagnosing the mental illness which a patient is suffering from, basis the symptoms which the patient exhibits. using ICD 10 classification of mental and  behavioural disorders. Doctors can also prescribe medication digitally using this platform, which eliminates the need for paper usage. This makes MentDoc environment friendly.
                                                </p>
                                                <p><a href="#">Learn More</a></p>
                                              </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                                <div class="unit-4">
                                        <div class="unit-4-icon">
                                                <img style="margin-left: 70px"  src="../../../assets/featuresvgImage/cccccc.png" alt="Free Website Template by Free-Template.co" >
                                        </div>
                                        <div style="margin-top: 10px">
                                                <h3>Effective communication and Seamless collaboration</h3>
                                                <p>
                                                        The e-prescription provided by the doctor will be immediately accessible to the partner pharmacy enabling seamless communication and collaboration amongst the doctors, patients and the partner pharmacies thus making the whole process easier and quicker. The doctors also have the option of partnering with pathological laboratories which shall know of the tests to be administered as soon as the prescription is generated
                                                </p>
                                                <p><a href="#">Learn More</a></p>
                                              </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                                <div class="unit-4">
                                        <div class="unit-4-icon">
                                                <img style="margin-left: 70px"  src="../../../assets/featuresvgImage/sssssss.png" alt="Free Website Template by Free-Template.co" >
                                        </div>
                                        <div style="margin-top: 10px">
                                                <h3>Intelligent follow- ups and reminders</h3>
                                                <p>
                                                        Leveraging the features of MentDoc, mental health professionals can schedule appointments on future dates and can also book time slots during which they would like the patients to consult them. The appointments can be cancelled and rescheduled as per the convenience and availability of the mental health professional. The MHPs also get reminders prior to an appointment being underway.

                                                </p>
                                                <p><a href="#">Learn More</a></p>
                                              </div>
                                </div>
                        </div>
                        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
                                <div class="unit-4">
                                        <div class="unit-4-icon">
                                                <img style="margin-left: 70px" src="../../../assets/featuresvgImage/patient-01.png" alt="Free Website Template by Free-Template.co" >
                                        </div>
                                        <div style="margin-top: 10px">
                                                <h3>Patient Engagement and Education</h3>
                                                <p>
                                                        MentDoc is a free patient care platform that offers patient care education and engagement customization at the point of care and on the go. Mental health practitioners can utilize this application to educate patients about disorders, treatments and precautions to observe to prevent the onset of mental illness
                                                </p>
                                                <p><a href="#">Learn More</a></p>
                                              </div>
                                </div>
                        </div>
                </div>
        </div>
</section>


<!-- features section-->

<!--<div id="features"   class="features-area">
        <div class="container">
               <div class="row">
                       <div class="col-xl-12 text-center">
                           <div class="features-title">
                                   <br><br>
                                   <h2><b>Features</b></h2>
                             </div>             
                       </div>
                       <div>
                        <br><br><br><br>
                        <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="features-wrapper">
                                                <div class="features-text   text-right">
                                                        <h3>User Friendly</h3>
                                                    <p>    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis, quia nemo sed quasi provident cum harum consequuntur hic nesciunt aut adipisci sint dolores ratione quam? Ut neque nisi ad?</p>
                                                </div>
                                        </div>
                                        
                                        <div class="features-wrapper">
                                                        <div class="features-text   text-right">
                                                                <h3>User Friendly</h3>
                                                            <p>    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis, quia nemo sed quasi provident cum harum consequuntur hic nesciunt aut adipisci sint dolores ratione quam? Ut neque nisi ad?</p>
                                                        </div>
                                        </div>
                                        <div class="features-wrapper">
                                                        <div class="features-text   text-right">
                                                                <h3>User Friendly</h3>
                                                            <p>    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis, quia nemo sed quasi provident cum harum consequuntur hic nesciunt aut adipisci sint dolores ratione quam? Ut neque nisi ad?</p>
                                                        </div>
                                        </div>
                                        
                                </div>
                               <div class="col-xl-12 text-center">
                                       <div class="features-img-text-center">
                                               <img src="../../../assets/images/mentdoc/gallery/action-athlete-carpet-2525055.jpg">

                                        </div>

                                 </div>
                                 <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="features-wrapper">
                                                <div class="features-text text-right">
                                                        <h3>User Friendly</h3>
                                                        <p>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis, quia nemo sed quasi provident cum harum consequuntur hic nesciunt aut adipisci sint dolores ratione quam? Ut neque nisi ad?</p>

                                                </div>
                                        </div>
                                        <div class="features-wrapper">
                                                        <div class="features-text text-right">
                                                                <h3>User Friendly</h3>
                                                                <p>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis, quia nemo sed quasi provident cum harum consequuntur hic nesciunt aut adipisci sint dolores ratione quam? Ut neque nisi ad?</p>
        
                                                        </div>
                                                </div>
                                                <div class="features-wrapper">
                                                                <div class="features-text text-right">
                                                                        <h3>User Friendly</h3>
                                                                        <p>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae debitis, quia nemo sed quasi provident cum harum consequuntur hic nesciunt aut adipisci sint dolores ratione quam? Ut neque nisi ad?</p>
                
                                                                </div>
                                                        </div>
                                 </div>
                                
                                
                       </div> 
                       </div> 
               </div> 
        </div>
</div>
-->

