<div id="pricing" class="pricing-section text-center">
        <div class="container">
          <div class="col-md-12 col-sm-12 nopadding">
            <div class="pricing-intro">
              <h1 class="wow fadeInUp" data-wow-delay="0s">Our Models</h1>
              <p class="wow fadeInUp" data-wow-delay="0.2s"> Mentdoc is one stop solution for all MHPS <br class="hidden-xs"></p>
            </div>
            <div class="col-sm-4">
              <div class="table-left wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"> <i class="ion-ios-paperplane-outline"></i> </div>
                <div class="pricing-details">
                  <h2>IPD (In Patient Department)</h2>
                  <span>Free</span>
                  <ul>
                    <li>Resident patients’ records digitized</li>
                    <li>Customized care & treatment</li>
                    <li>Ease of educating patient and family/nominated representative/care-giver</li>
                    <li>Monitoring Progress Digitally</li>
                    <li>Meant for co-workers (psychologists and psychiatrists)</li>
                  </ul>
                  <button class="btn btn-primary btn-action btn-fill">Learn More</button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="table-right table-center wow fadeInUp" data-wow-delay="0.6s">
                <div class="icon"> <i class="ion-ios-analytics-outline"></i> </div>
                <div class="pricing-details">
                  <h2>OPD</h2>
                  <span>$3.99</span>
                
                  <ul>
                    <li>Seamless Operation: Caters to the needs of MHPs who practice out of multiple clinics, hospitals, etc.</li>
                    <li>Makes patients’ data available to respective MHPs operating out of multiple establishments</li>
                    <li>Appointments can be scheduled, rescheduled and cancelled</li>
                    <li>The OPD feature of MentDoc is meant for co-workers like psychologists and psychiatrists.</li>
                    <li>Time Saving: Facilitates patients’ arrival at the reception & consultation with MHP during stipulated time slots</li>
                  </ul>
                  <button class="btn btn-primary btn-action btn-fill">Learn More</button>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="table-right wow fadeInUp" data-wow-delay="0.6s">
                <div class="icon"> <i class="ion-ios-color-wand-outline"></i> </div>
                <div class="pricing-details">
                  <h2>ICMS</h2>
                  <span>$9.50</span>
                  <ul>
                    <li>A cloud based web-application working around a database</li>
                    <li>Makes use of the unique Super Administrator (Super Admin) feature, which allows owners to monitor usage of platform by co-workers </li>
                    <li>Real time data sharing and synchronization is made possible</li>
                    <li>This feature is meant for owners of establishments only</li>
                    <li></li>
                  </ul>
                  <button class="btn btn-primary btn-action btn-fill">Learn More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      