

@import url("micons/micons.css");



/* ===================================================================
 *  02. base style overrides - (_document-setup)
 *
 * ------------------------------------------------------------------- */
html {
  font-size: 10px;
}
@media only screen and (max-width: 1024px) {
  html {
    font-size: 9.375px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 9.375px;
  }
}

html, body {
  height: 100%;
}

body {
  /* background: #111111; */
  font-family: "librebaskerville-regular", serif;
  font-size: 1.6rem;
  line-height: 3rem;
  color: #353535;
  margin: 0;
  padding: 0;
}

/* ------------------------------------------------------------------- 
 * links - (_document-setup) 
 * ------------------------------------------------------------------- */
a, a:visited {
  color: #07617d;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover, a:focus {
  color: #000000;
}



hr {
  border: solid #d2d2d2;
  border-width: 1px 0 0;
  clear: both;
  margin: 2.4rem 0 1.5rem;
  height: 0;
}


/* ------------------------------------------------------------------- 
 * floated image - (_document-setup)  
 * ------------------------------------------------------------------- */
img.pull-right {
  margin: 1.5rem 0 0 3rem;
}

img.pull-left {
  margin: 1.5rem 3rem 0 0;
}



/* ===================================================================
 *  04. Preloader
 *
 * ------------------------------------------------------------------- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0F1215;
  z-index: 800;
  height: 100%;
  width: 100%;
}

.no-js #preloader, .oldie #preloader {
  display: none;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0;
  background-color: #f9a828;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}


/* ===================================================================
 *  06. buttons - (_button-essentials.scss)
 *
 * ------------------------------------------------------------------- */
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  height: 5.4rem;
  line-height: 5.4rem;
  padding: 0 3rem;
  margin: 0 .3rem 1.2rem 0;
  background: #A5A5A5;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  border: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: #989898;
  color: #000000;
  outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background: #151515;
  color: #FFFFFF;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background: #030303;
}

button.full-width, .button.full-width {
  width: 100%;
  margin-right: 0;
}

button.medium, .button.medium {
  height: 5.7rem !important;
  line-height: 5.7rem !important;
  padding: 0 1.8rem !important;
}

button.large, .button.large {
  height: 6rem !important;
  line-height: 6rem !important;
  padding: 0rem 3rem !important;
}

button.stroke, .button.stroke {
  background: transparent !important;
  border: 3px solid #313131;
  line-height: 4.8rem;
}

button.stroke.medium, .button.stroke.medium {
  line-height: 5.1rem !important;
}

button.stroke.large, .button.stroke.large {
  line-height: 5.4rem !important;
}

button.stroke:hover, .button.stroke:hover {
  border: 3px solid #f9a828;
  color: #f9a828;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}




/* ===================================================================
 *  09. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
header {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 700;
}
header .row {
  height: auto;
  max-width: 1300px;
  position: relative;
}

/* ------------------------------------------------------------------- 
 * header logo - (_layout.css) 
 * ------------------------------------------------------------------- */
header .header-logo {
  position: absolute;
  left: 32px;
  top: 42px;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
header .header-logo a {
  display: block;
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  width: 200px;
  height: 80px;
  background: url("../logo.png") no-repeat center;
  background-size: 171px 81px;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* ------------------------------------------------------------------- 
 * menu trigger - (_layout.css) 
 * ------------------------------------------------------------------- */
#header-menu-trigger {
  display: block;
  position: fixed;
  right: 32px;
  top: 30px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#header-menu-trigger.opaque {
  background-color: #000000;
}
#header-menu-trigger.opaque .header-menu-text {
  background-color: #000000;
}
#header-menu-trigger:hover, #header-menu-trigger:focus {
  color: #FFFFFF;
}
#header-menu-trigger .header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -75px;
  width: 75px;
  text-align: center;
  background-color: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#header-menu-trigger .header-menu-icon {
  display: block;
  height: 3px;
  width: 24px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  right: 9px;
  margin-top: -1.5px;
}
#header-menu-trigger .header-menu-icon::before, 
#header-menu-trigger .header-menu-icon::after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
}
#header-menu-trigger .header-menu-icon::before {
  top: -9px;
}
#header-menu-trigger .header-menu-icon::after {
  bottom: -9px;
}



/* ------------------------------------------------------------------- 
 * responsive:
 * header section 
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
  header .header-logo a {
    width: 51px;
    height: 24px;
    background-size: 51px 24px;
  }
}
@media only screen and (max-width: 400px) {
  #header-menu-trigger .header-menu-text {
    display: none;
  }
}


/* ===================================================================
 *  10. home - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
#home {
  width: 100%;
  height: 100%;
  background-color: #151515;
  background-image: url(../images/mentdoc/admin/bg.jpg);
  background-repeat: no-repeat;
  background-position: center 30%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: inherit;
  min-height: 804px;
  position: relative;
}
#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-color: #19191b;
}

.home-content-table {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  text-align: center;
}

.home-content-tablecell {
  display: table-cell;
  vertical-align: middle;
  z-index: 500;
}
.home-content-tablecell .row {
  position: relative;
  padding-top: 16.2rem;
  padding-bottom: 15rem;
}
.home-content-tablecell h3 {
  font-family: "montserrat-bold", sans-serif;
  font-size: 2.2rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin: 0 0 .9rem 0;
}
.home-content-tablecell h1 {
  font-family: "montserrat-bold", serif;
  font-size: 9rem;
  line-height: 1.133;
  color: #FFFFFF;
}
.home-content-tablecell .more {
  margin: 4.8rem 0 0 0;
}
.home-content-tablecell .more .button {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

/* home social-list */
.home-social-list {
  position: absolute;
  left: 48px;
  bottom: 54px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.4rem;
  line-height: 1.75;
  text-align: center;
}
.home-social-list::before {
  display: block;
  content: "";
  width: 2px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.home-social-list li {
  padding-left: 0;
}
.home-social-list li a, .home-social-list li a:visited {
  color: #FFFFFF;
}
.home-social-list li a:hover, 
.home-social-list li a:focus, 
.home-social-list li a:active {
  color: #151515;
}

/* scroll down */
.scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right top 0;
  -ms-transform-origin: right top 0;
  transform-origin: right top 0;
  float: right;
}
.scrolldown i {
  padding-left: 9px;
}
.scrolldown a:hover, .scrolldown a:focus, .scrolldown a:active {
  color: #151515 !important;
}

html[data-useragent*='MSIE 10.0'] .scrolldown,
.oldie .scrolldown {
  display: none;
}

.scroll-icon {
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #FFFFFF !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 42px;
  -webkit-animation: animate-it 3s ease infinite;
  animation: animate-it 3s ease infinite;
}

/* vertical animation */
@-webkit-keyframes animate-it {
  0%, 60%, 80%, 100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}
@keyframes animate-it {
  0%, 60%, 80%, 100% {
    -webkit-transform: translateX(0);
  }
  20% {
    -webkit-transform: translateX(-5px);
  }
  40% {
    -webkit-transform: translateX(20px);
  }
}



/* ===================================================================
 *  17. footer - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
footer {
  margin: 0 0 5.4rem 0;
  padding: 0;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.4);
}
footer a, footer a:visited {
  color: #FFFFFF;
}
footer a:hover, footer a:focus {
  color: #f9a828;
}
footer .row {
  max-width: 1024px;
}
footer h4.h05 {
  color: #FFFFFF;
  position: relative;
  padding-bottom: 4.2rem;
  margin-bottom: 3.6rem;
}
footer h4.h05::after {
  display: block;
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  bottom: 0;
  left: 0;
}

/* footer main
 * --------------------------------- */
.footer-main {
  padding-top: 9.6rem;
  padding-bottom: 3rem;
}
.footer-main ul {
  font-size: 1.5rem;
  margin-left: 0;
}
.footer-main ul li {
  list-style: none;
  padding-left: 0;
}
.footer-main ul a, .footer-main ul a:visited {
  color: rgba(255, 255, 255, 0.4);
}
.footer-main ul a:hover, .footer-main ul a:focus {
  color: #FFFFFF;
}
.footer-main .subscribe-form {
  position: relative;
}
.footer-main #mc-form {
  margin: 0;
  padding: 0;
}
.footer-main #mc-form input[type="email"] {
  height: 6rem;
  padding: 1.5rem 8rem 1.5rem 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
.footer-main #mc-form button {
  background-color: #f9a828;
  color: #000000;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.footer-main #mc-form button:hover {
  background-color: #f89e0f;
}
.footer-main #mc-form button i {
  font-size: 2.6rem;
  line-height: 6rem;
  margin: 0;
  position: relative;
  left: .2rem;
}
.footer-main #mc-form label {
  color: #f9a828;
  font-family: "montserrat-regular", sans-serif;
}

/* footer bottom
 * --------------------------------- */
.footer-bottom {
  margin-top: 3rem;
  text-align: center;
  font-family: "montserrat-regular", sans-serif;
  font-size: 1.4rem;
}
.footer-bottom .copyright span {
  display: inline-block;
}
.footer-bottom .copyright span::after {
  content: "|";
  display: inline-block;
  padding: 0 1rem 0 1.2rem;
  color: rgba(255, 255, 255, 0.1);
}
.footer-bottom .copyright span:last-child::after {
  display: none;
}

#go-top {
  position: fixed;
  bottom: 42px;
  right: 30px;
  z-index: 700;
  display: none;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 63px;
  width: 60px;
  line-height: 63px;
  text-align: center;
  background-color: #000000;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#go-top a i {
  font-size: 1.7rem;
  line-height: inherit;
}
#go-top a:visited {
  background: #000000;
  color: #888;
}
#go-top a:hover, #go-top a:focus {
  background: #000000;
  color: #FFFFFF;
}

