<section class="feature_part " >
    <div class="container-fluid" style="margin: 5px;">
        <h1>
                SECURE PLACE FOR YOUR MENTAL-HEALTH-RELATED-DATA
        </h1>
        <div class="feature_item">
            <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_feature">
                                    <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="../../../../assets/medison/auction.svg" alt=""></span>
                                            <h4>The "IG Rules"</h4>
                                            <p>These are Information Technology (Intermediaries' Guidelines) Rules, in which the term 'intermediaries' refers to all the information technology companies that are hosting user data or are providing communication platforms for users. The intermediaries will observe due diligence so that no unlawful content or activities take place on their part. The intermediaries upon receiving such information regarding such activities being undertaken will take necessary corrective actions.</p>
                                    </div>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_feature">
                                    <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="../../../../assets/medison/auction.svg" alt=""></span>
                                            <h4>Indian Contract Act, 1872</h4>
                                            <p>Every user while registering for MentDoc enters into a contract with MentDoc, where MentDoc is under an obligation to protect the data provided by the user for execution of this contract.</p>
                                    </div>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_feature">
                                    <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="../../../../assets/medison/auction.svg" alt=""></span>
                                            <h4>Information Technology Act, 2000</h4>
                                            <p>The user's data is protected from wrongful disclosure and its misuse. Reasonable security practices are maintained for the purpose of protection of the personal data of the user.</p>
                                    </div>
                            </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single_feature">
                                    <div class="single_feature_part">
                                            <span class="single_feature_icon"><img src="../../../../assets/medison/auction.svg" alt=""></span>
                                            <h4>The "SPI Rules"</h4>
                                            <p>These rules deal with the protection of sensitive personal Information of the user, which consists of information pertaining to passwords, finances, physiological health condition, mental health condition, medical records, medical history and biometric information of the user. MentDoc, while adhering to SPI rules, assures protection of such data.

                                                </p>
                                    </div>
                            </div>
                    </div>
                    
            </div>
        </div>
    </div>
</section>