

<section id="testimonial">
		<div class="container">
        
       <!-- <div class="bg-img" ></div>-->
            
		<div class="row">
			
		<!--<div class="col-md-8 col-center m-auto">-->
			<div class="col-md-12">
			<h2>Testimonials</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="img-box"><img src="../../../assets/images/mentdoc/team/gorav.png" alt=""></div>
						<p class="testimonial">MentDoc is an excellent platform for any psychiatrist as it has been designed carefully keeping the needs of the mental health professionals in mind. I can manage my appointments in a digital manner across different clinics of Tulasi Healthcare.</p>
						<p class="overview"><b>Dr. Gorav Gupta</b>, Consultant Psychiatrist</p>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="../../../assets/images/mentdoc/team/naveen.png" alt=""></div>
						<p class="testimonial">MentDoc is a highly efficient software specially designed for the mental health professionals. Not only are my appointments managed efficiently, but also I am able to reschedule my appointments and access reports of my clients.</p>
						<p class="overview"><b>Mr. Naveen Kumar</b>,Psychologist</p>
					</div>
					<div class="item carousel-item">
						<div class="img-box"><img src="../../../assets/images/mentdoc/team/parwaiz.jpg" alt=""></div>
						<p class="testimonial">MentDoc as a platform has helped me greatly in management of my appointments , accessing reports, and retrieval of past case records. Keeping and maintaining physical records was a task which has now been made much simpler by MentDoc.</p>
						<p class="overview"><b>Dr. Parvaiz A. Khan</b>,Psychiatrist</p>
					</div>
					<div class="item carousel-item">
							<div class="img-box"><img src="../../../assets/images/mentdoc/team/rashi.jpg" alt=""></div>
							<p class="testimonial">
									MentDoc is a well-designed platform sufficing the requirements of any Mental Health Professional. Not only does it help in proper management of my clinical operations, but it also eases the tedious process of record keeping and accessing.</p>
							<p class="overview"><b>Ms. Rashi Singh</b>, Psychologist</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
    </div>
    
</div>
</section>