<!--<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="our-skill">
                    <h2>about us</h2>                  
                    <div class="panel panel-default">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/UOpQsVlgr1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>                
                  </div>
            </div>
            <div class="col-md-5">
                <div class="our-skill">
                    <h2>about us</h2>                  
                    <div class="panel panel-default">
                        <p style="font-size: 15px" >
                                A large number of Indians (approximately 60 million- a number greater than the combined population of some countries like South Africa) – suffer from mental disorders.
                                Mr. JP Nadda, Minister of Health and Family Welfare, in his address in the Lok Sabha in May 2016, revealed that according to the National Commission on Macroeconomics and Health (2005) (click here), about 10-20 million Indians were suffering from complex mental disorders like schizophrenia and bipolar disorder, whereas nearly 50 million Indians were suffering from common mental disorders like depression and anxiety.
                                
                                With growing awareness of Mental Health and Mental Illnesses in India, the Mental Healthcare Bill was revised in 2017, bringing reformative changes to enhance the availability and scope of Mental Health services in the Country.
                        </p>
                    </div>                
                  </div>
            </div>
        </div>
    </div>
</section>-->
<section id="about">
        <div class="container">
                        <div class="row">
                <div class="col-md-6" >
                    <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/UOpQsVlgr1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
    
                </div>
                
            <div class="col-md-6 text-justify">
            <h3>About Us</h3>
                <p> A large number of Indians (approximately 60 million- a number greater than the combined population of some countries like South Africa) – suffer from mental disorders.
    
                        Mr. JP Nadda, Minister of Health and Family Welfare, in his address in the Lok Sabha in May 2016, revealed that according to the National Commission on Macroeconomics and Health (2005) (click here), about 10-20 million Indians were suffering from complex mental disorders like schizophrenia and bipolar disorder, whereas nearly 50 million Indians were suffering from common mental disorders like depression and anxiety.
                        
                        With growing awareness of Mental Health and Mental Illnesses in India, the Mental Healthcare Bill was revised in 2017, bringing reformative changes to enhance the availability and scope of Mental Health services in the Country.
                </p>
                
            </div>
            </div>
        </div>
    </section>
