<section class="banner_part">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-xl-6 col-sm-6">
                <div  style="margin-top: -100px;margin-left: 50px" class="banner_text">
                    <div class="banner_text_iner">
                        <h2 style="color: black;font-size: 34px;text-align: center;margin-top: -350px;font-weight: 900px;font: bold" >DATA SAFETY: Our Top Priority</h2>
                  
                        <ul style="padding: 20px">
                            <li style="font-size: 25px">
                                <!-- <i class="fas fa-balance-scale-right"  style="color: #f23d80" aria-hidden="true"></i> -->
                                <img style="height: 40px;width: 78px" src="../../../../assets/medison/insurance.svg">
                                <span style="margin-left: 20px;color: #f23d80">STRINGENT DATA POLICIES</span>
                            </li>
                            <hr>
                            <li style="font-size: 25px">
                                <img style="height: 40px;width: 78px" src="../../../../assets/medison/db1.svg">
                                <span style="margin-left: 20px;color: #f23d80">ROBUST DATA INFRASTRUCTURE</span>
                            </li>
                            <hr>
                            <li style="font-size: 25px">
                                <img style="height: 40px;width: 78px" src="../../../../assets/medison/multiplecheck.svg">
                                <span style="margin-left: 20px;color: #f23d80">MULTIPLE CHECKS</span>
                            </li>
                           
                        </ul>
                      
                        <!-- <a href="#" class="btn_2">Make an appointment</a> -->
                        <div class="banner_item" style="margin-top: 100px;margin-left: 50px;font-size: 50px" >
                            <div class="single_item" style="height: 50px"  >
                                <img src="../../../../assets/medison/shield2.svg" alt="">
                                <h5>*256-bit encryption</h5>
                            </div>
                            <div class="single_item" style="margin-left: 25px">
                                <img src="../../../../assets/medison/hippacompleint.svg" alt="">
                                <h5>*HIPAA compliant data centre</h5>
                            </div>
                            <div class="single_item" style="margin-left: 25px">
                                <img src="../../../../assets/medison/priscription1.svg" alt="">
                                <h5>*Control over prescription sharing</h5>
                            </div>
                            <div class="single_item" style="margin-left: 25px">
                                <img src="../../../../assets/medison/robustdata.svg" alt="">
                                <h5>*Compliant with MHA, 2017</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>