.our_ability_member_text{
    
}
.our_ability_member_text h1{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold
   
}
.our_ability_member_text p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    
}