<div id="footer">
        <div class="row">
                <div class="column" id="img">

                        <div class="card">
                              
                               <h3><img src="../../../assets/images/mentdoc/logo/mentdoc-01.png" alt=""
                                                class="footer-logo img-responsive"></h3>
                                <p>
                                        A large number of Indians (approximately 60 million- a number greater than the
                                        combined population of some countries like South Africa) – suffer from mental
                                        disorders.

                                        Mr. JP Nadda, Minister of Health and Family Welfare, in his address in the Lok
                                        Sabha in May 2016, revealed that according to the National Commission on
                                        Macroeconomics and Health (2005), about 10-20 million Indians were suffering
                                        from complex mental disorders like schizophrenia and bipolar disorder, whereas
                                        nearly 50 million Indians were suffering from common mental disorders like
                                        depression and anxiety.

                                </p>
                        </div>
                </div>

                <div class="column" id="fea">
                        <div class="card">
                                <h3>Features</h3>
                                <div class="text-center">
                                        <p>Blog</p>
                                        <p>Article & News</p>
                                        <p>Terms of Use</p>
                                        <p> FAQs</p>
                                        <p>Contact us</p>
                                </div>

                        </div>
                </div>

                <div class="column" id="qui">
                        <div class="card">
                                <h3>Quick Contact</h3>
                                <p><i class="fa fa-phone-square" aria-hidden="true"></i>+91 8233371538</p>
                                <p><i class="fa fa-envelope" aria-hidden="true"></i>contact@website</p>
                                <p><i class="fa fa-home" aria-hidden="true"></i>xyz road,xyz<span> complex</span></p>

                                <p class="city">New Delhi,India</p>

                        </div>
                </div>

                <div class="column" id="fol">
                        <div class="card">
                                <h3>Follow us On</h3>
                                <p><i class="fab fa-facebook" aria-hidden="true"></i>Facebook</p>
                                <p><i class="fab fa-youtube" aria-hidden="true"></i>Youtube</p>
                                <p><i class="fab fa-twitter" aria-hidden="true"></i>Twitter</p>
                                <p><i class="fab fa-instagram" aria-hidden="true"></i>Instagram</p>
                        </div>
                </div>
        </div>
        <hr>
        <p class="copyright">Technical Partner<i class="far fa-heart"></i>Buddiez Softech Venture.</p>

</div>