<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-service">
                    <p>
                        All copyrights reserved @ 2019
                        <a rel="nofollow" href="" target="_blank">MentDoc Infotech Pvt Ltd</a>
                        <br>
                        <a href="" style="margin-right: 10px;">Terms of Use</a>
                        <a href="">Privacy Policy</a>
                    </p>
                </div>
                <a href="https://www.facebook.com/mentdoc1/" style="margin-left: 20px;"><i class="fas fa-facebook"></i></a>
                <a href="https://www.linkedin.com/company/mentcom/" style="margin-left: 20px;"><i class="fas fa-linkedin"></i></a>
               
                <a href="https://www.linkedin.com/company/mentcom/" style="margin-left: 20px;"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/company/mentcom/" style="margin-left: 20px;"><i class="fa fa-instagram"></i></a>


            </div>
        </div>
    </div>
</footer>